.taskListBox {      
        background-color: #F3B562;
        border: 5px solid #5C4B51;
        border-radius: 10px;
        padding: 0.5em;
        height: 100%;
        overflow-y: scroll;
        flex-grow: 1;
        width: 60%;
        &::-webkit-scrollbar {
            display: none;
        }

        .tasksList {
            
            .task {
                position: relative;
                margin-bottom: 0.6em;
                border-radius: 10px;
                background-color: #8CBEB2;;
                border: 3px solid #5C4B51; 
                padding: 0.5em;
                color: #fff;
                font-weight: 700;
                text-overflow: clip;
                .taskDescription {
                    font-weight: 400;
                    font-size: 0.7em;
                }
                .taskButton {
                    position: absolute;
                    border-radius: 10px;
                    font-size: 0.6em;
                    padding: 0.4em;
                    background-color: transparent;
                    border: 2px solid;
                }

                .removeButton {
                    right: 1em;
                    bottom: 1em;
                    color: #F06060;
                    border-color: #F06060;;
                   
                    transition: transform 1s linear;
                    &:hover {
                        background-color: #F06060;
                        color: #fff;
                        transform: rotate(45deg);
                    }
                }
                .addSubTaskButton {
                    right: 3.5em;
                    bottom: 1em;
                    color: #F3B562;
                    border-color: #F3B562;
                    i {
                        transition: transform 0.8s ease-in-out, color 1.0s ease-in-out;
                    }
                    
                    &:hover {
                        background-color: #F3B562;
                        color: #8CBEB2;
                        i {
                            
                            transform: scale(1.5);
                        }
                    }
                }
            }
            
        }
}